In [1]:
import pandas as pd

In [2]:
data = {'Results': [1534,8593,140,13,37616,1060,694,64,17744],
        'Reach': [1534,8593,571,1396,5092,6933,2008,2825,6154],
        'Impressions': [1535,10599,572,1479,40135,11468,2435,5087,21332],
        'Video_plays': [1448,0,457,0,39568,0,1225,0,20905],
       'Link_clicks': [0,2,0,13,0,100,1,49,0],
       'Engagement': [62,2,140,47,35711,1060,694,145,15604],
       'Amount_Spent': [2,20,5,23,133,89,37,85,76]}

df = pd.DataFrame(data)
df.head()

,Results,Reach,Impressions,Video_plays,Link_clicks,Engagement,Amount_Spent
0,1534,1534,1535,1448,0,62,2
1,8593,8593,10599,0,2,2,20
2,140,571,572,457,0,140,5
3,13,1396,1479,0,13,47,23
4,37616,5092,40135,39568,0,35711,133

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
# X contains the features (Amount spent)
X = df['Amount_Spent']

# y contains the target variable (Results, Reach, Impressions, Video Plays, Link clicks, and Post engagement)
y = df[['Results', 'Reach', 'Impressions', 'Video_plays', 'Link_clicks', 'Engagement']]

In [9]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model and wrap it in MultiOutputRegressor
model = MultiOutputRegressor(LinearRegression())

# Train the model with the training data
model.fit(X_train.values.reshape(-1, 1), y_train)

MultiOutputRegressor(estimator=LinearRegression())

In [10]:
# Predict the columns using the test data
y_pred = model.predict(X_test.values.reshape(-1, 1))

In [11]:
# Evaluate the model's performance using metrics like Mean Squared Error (MSE) and R-squared (R2)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 100374744.3348547
R-squared: -3679.080219755561

In [12]:
# Predict the columns for a new value of 'Amount spent'
X_new = [[20]]
predicted_values = model.predict([[20]])
print("Predicted values:", predicted_values[0])

Predicted values: [ 726.14777024 1945.43688854 2292.37143629 1016.27642398    8.87683812
  240.56563231]

In [14]:
# Convert the predicted values into a new DataFrame
predicted_df = pd.DataFrame(data=predicted_values, columns=y.columns)
predicted_df.head()

     Results        Reach  Impressions  Video_plays  Link_clicks  Engagement
0  726.14777  1945.436889  2292.371436  1016.276424     8.876838  240.565632