In [1]:
import pandas as pd

In [2]:
data = {'Results': [1534,8593,140,13,37616,1060,694,64,17744],
        'Reach': [1534,8593,571,1396,5092,6933,2008,2825,6154],
        'Impressions': [1535,10599,572,1479,40135,11468,2435,5087,21332],
        'Video_plays': [1448,0,457,0,39568,0,1225,0,20905],
       'Link_clicks': [0,2,0,13,0,100,1,49,0],
       'Engagement': [62,2,140,47,35711,1060,694,145,15604],
       'Amount_Spent': [2,20,5,23,133,89,37,85,76]}

df = pd.DataFrame(data)
df.head()

,Results,Reach,Impressions,Video_plays,Link_clicks,Engagement,Amount_Spent
0,1534,1534,1535,1448,0,62,2
1,8593,8593,10599,0,2,2,20
2,140,571,572,457,0,140,5
3,13,1396,1479,0,13,47,23
4,37616,5092,40135,39568,0,35711,133

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
# X contains the features (Results, Reach, Impressions, Video Plays, Link clicks, and Post engagement)
X = df[['Results', 'Reach', 'Impressions', 'Video_plays', 'Link_clicks', 'Engagement']]

# y contains the target variable (Amount spent)
y = df['Amount_Spent']

In [5]:
# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
# Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [7]:
# Predict model using X_test
y_pred = model.predict(X_test)

In [8]:
# Evaluate model performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 10546.18825415638
R-squared: -8.984556927011957

In [10]:
# Predict the amount spent for new data
X_new = [[100, 2000, 5000, 1000, 50, 150]]
predicted_amount_spent = model.predict(X_new)
print("Predicted amount spent:", predicted_amount_spent[0])

Predicted amount spent: -34.41443487262584

C:\Users\sang.yogi\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(